[loggers]
keys=root

[handlers]
keys=fileHand, consoleHand

[formatters]
keys=

[logger_root]
level=DEBUG
handlers=fileHand, consoleHand

[handler_fileHand]
class=FileHandler
level=DEBUG
formatter=
args=("Thanatos.log", "w")

[handler_consoleHand]
class=StreamHandler
level=DEBUG
formatter=
args=(sys.stdout,)